.filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}

.filters > .ant-input-search {
    width: 400px;
}

.ant-input-search .ant-input {
    height: 40px;
}

.ant-spin-container .ant-btn {
    margin: 0;
}

.cards {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}