.filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filters > .ant-input-search {
  width: 400px;
}

.ant-input-search .ant-input {
  height: 40px;
}

.cards {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.error_feedback {
  color: #b12827;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 509px) {
  .filters > button {
    margin-top: 15px;
  }
}
