#root > header {
    display: flex;
    justify-content: space-between;
    background-color: #000045;
}

header .headline, #root > header > p {
    color: #ffedef;
    font-size: 20px;
    padding: 20px 50px;
}

header .headline, header > p > .anticon {
    cursor: pointer;
}

.headline .anticon, p > .anticon  {
    margin-left: 10px;
}

@media (max-width: 450px) {
    header .headline, #root > header > p {
        font-size: 18px;
        padding: 20px
    }
}
