* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    outline: none;
    font-weight: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    background-color: #000045;
}

.headline, .header-item {
    color: #ffedef;
    font-size: 20px;
    cursor: pointer;
}

.headline {
    font-weight: normal;
    padding: 20px 50px 20px;
}

.header-item {
    list-style: none;
    padding: 20px 15px;
}