.nav_bar {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff9e9;
    border-right: 1px solid #b4afa4;
}

.nav_bar > ul > a {
    display: inline-block;
    width: 200px;
    padding: 10px 20px;
    color: #b4afa4;
    cursor: pointer;
    border-bottom: 1px solid #b4afa4;
    box-sizing: border-box;
    font-size: 20px;
}

.nav_bar > button {
    height: 50px;
    width: 100%;
    border-right: 1px solid #b4afa4;
    border-top: 1px solid #b4afa4;
    box-sizing: content-box;
    background-color: #000045;
    color: #ffedef;
    font-size: 16px;
    cursor: pointer;
}

.nav_bar.open {
    width: 200px;
}

.nav_bar.close, .close .link{
    width: 50px;
    padding: 0;
}

.nav_bar > a:hover {
    color: #dfdad0;
}

.nav_bar .active-link {
    border-right: 2px solid #000045;
    color: #000045;
}

.anticon {
    margin-right: 10px;
}

.close .anticon {
    padding: 15px;
}



