div {
  input {
    border: 1px solid #bababa;
    border-radius: 4px;
    width: 100%;
    height: 36px;
    margin-top: 5px;
    padding-left: 10px;

    &:hover {
      border-color: #46a6ff;
    }
  }
   span {
     display: inline-block;
     height: 10px;
     width: 100%;
     color: #e30000;
   }
  }
