@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  outline: none;
  font-weight: normal;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

/*html, body, #root {*/
/*  height: 100%;*/
/*  width: 100%;*/
/*}*/

#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

main {
  display: flex;
  height: 100%;
}

main .wrapper {
  width: 100%;
  padding: 30px;
  overflow-y: scroll;
  margin-bottom: 70px;
}

main .wrapper h1 {
  text-align: center;
  color: #000045;
}

.ant-btn {
  height: 40px;
}

button.ant-btn.ant-btn-primary {
  background-color: #000045;
  color: #ffedef;
  border: 0;
}

.ant-input-affix-wrapper,
.ant-modal-body > .ant-input,
.ant-select, .ant-btn {
  margin-bottom: 20px;
}

.ant-select {
  width: 100%;
}

